.hero 
  .container
    .landing-inner
      %h1.landing-head Dejeuner for Restaurants
      %h1 Feedback, relationships, and marketings with customers.
      %h3.red Close Beta. Press demo for sneakpeak. 
      = link_to "Sign In", new_user_session_path, :class => "btn btn-info btn-lg"
      = link_to "Demo", 'demo/main', :class => "btn btn-success btn-lg"

.row.cursive
  .col-lg-12
    %h1 Why Dejeuner?

/ begin benefits
.container
  .row 
    .col-lg-4.landing-benefits
      .landing-benefits-inner
        = image_tag "clipboard-2.png"
        %h1 Feedback
        %p Away with comment cards! Set up campaigns and receive key feedback from your customers within 5 minutes.
    .col-lg-4.landing-benefits
      .landing-benefits-inner
        = image_tag "heart-full.png"
        %h1 Relationships
        %p Set up your own incentives for customers to give feedback and build continued relationships.
    .col-lg-4.landing-benefits
      .landing-benefits-inner
        = image_tag "bullhorn.png"
        %h1 Marketing
        %p No more emails or posters. Use Dejeuner's own marketing platform to instantly reach all your customers.

.row.sign-up-landing
  .col-lg-12
    = link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-lg"