= render 'layouts/header'
= render 'shared/flash'
.hero 
  .container
    .row.landing-inner
      .col-sm-12
        %h1.landing-head Keep customers coming for seconds
        %h1.lighter Improve customer retention with multi-tier loyalty rewards and sms marketing. Dejeuner not only helps you acquire contacts but build relationships with them through custom generated and scheduled sms messages.
        .center
          = link_to "Start your free trial", '/pricing', :class => "btn btn-primary btn-lg"
          = link_to "Sign In", new_user_session_path, :class => "btn btn-info btn-lg"
.cursive
  %h1.red Dejeuner in three simple steps.
.background-red          
  .container
    .row
      .col-sm-12
        .flat-ios-device-container.container--browser
          .device.device--browser
            .device__header
            .device__content
              .landing-device-example-1
                %h1 Your Loyalty Rewards
                %p.pull-left
                  After
                  %span.red 6 
                  check ins customers get 
                  %span.red 50% off their next coffee drink
                %p.pull-left
                  After 
                  %span.red 10 
                  check ins customers get
                  %span.red  a free croissant with their next check in
                %p.pull-left 
                  After
                  %input.input-sm{:type => "text", value: '5', class: 'red'}/
                  check ins 
                  customers should get 
                  %input.input-sm{:type => "text", value: 'a free apple tart', class: 'red'}/  
                %button.btn.btn-primary.btn-sm.pull-left 
                  %i.fa.fa-heart
                  Create reward
              .landing-device-example-2
                .red
                  %h1.yesteryear.lighter Dejeuner for Tony's Cafe
                  .form-group
                    %input{:type => "text", class: 'input-sm', value: '6048628282'}
                .form-group
                  %button.btn.btn-primary.btn-sm Check In    
              .landing-device-example-3
                %h1.yesteryear.lighter Thank you for checking in
                %p.pull-left You have checked in 6 times. 
                %p.pull-left You get 50% off your next coffee drink!
                %p.pull-left 4 more check ins until your next reward
            .device__footer
      .col-sm-12.landing-how-to-use
        .text-center
          %button.btn.landing-prev-slide.btn-primary 
            %i.fa.fa-arrow-circle-left 
            Prev
          %button.btn.landing-next-slide.btn-primary 
            Next            
            %i.fa.fa-arrow-circle-right
        .landing-how-to-use-slide-1.active-how-to-use-slide{"data-slide" => 1}
          %h1.text-center 1. Set loyalty rewards
          %p.p-larger Set custom loyalty rewards on the Dejeuner platform to get your customers coming back. Dejeuner functions like a traditional loyalty card, except there is no paper to carry around or apps to download for you or your customer. 
        .landing-how-to-use-slide-2{"data-slide" => 2}
          %h1.text-center 2. Display check in page
          %p.p-larger Display the check in page at your business' register to your customers. Our check in page is accessible and looks great on any internet capable device. Such as a smart phone or a tablet.
          %button.btn.btn-primary.btn-to-tablet-or-phone 
            %i.fa.fa-tablet.icon-to-tablet 
            %span.message-to-tablet See check in on tablet  
        .landing-how-to-use-slide-3{'data-slide' => 3}
          %h1.text-center 3. Customer checks in
          %p.p-larger When customers check in we keep track of how many times they have checked in and give them the appropriate reward via sms. We also store their number for you and allow you to communicate with them later on via sms marketing.
          %button.btn.btn-primary.btn-to-tablet-or-phone 
            %i.fa.fa-tablet.icon-to-tablet 
            %span.message-to-tablet See check in on tablet
/ begin benefits
/ .benefits-container
/   .container
/     .row
/       .col-sm-4.landing-benefits
/         .landing-benefits-inner
/           %i.fa.fa-heart.fa-5x
/           %h1.lighter Sign up and get a number
/           %p Sign up and get your own unique number for your store. Display this number.
/       .col-sm-4.landing-benefits
/         .landing-benefits-inner
/           %i.fa.fa-coffee.fa-5x        
/           %h1.lighter Create campaigns and get feedback
/           %p Create a question you want answered through Dejeuner. Display this question in your store. Customer text feedback on this question to your Dejeuner number.
/       .col-sm-4.landing-benefits
/         .landing-benefits-inner
/           %i.fa.fa-bullhorn.fa-5x 
/           %h1.lighter Market to customers with sms
/           %p But no marketing expertise required. Our craft-a-sms service will generate a marketing sms for you. And our scheduling service allows you to focus on running your business while we take care of the marketing. 
.landing-shout-out
  .container
    .row
      .col-sm-12
        %h1.lighter.white Simple pricing. No apps to download. No troublesome keywords. Generated marketing sms's that you can schedule at your leisure. No marketing expertise required. Dejeuner works for you.
.container
  / START THE FEATURETTES
  %hr.featurette-divider/
  #contact.featurette
    = image_tag "#{asset_path "platform-pic.png"}", class: "featurette-image img-circle img-responsive pull-left"
    %h2.featurette-heading
      The power of big business
      %span.text-muted with the simplicity of small business.
    %p.lead Whether you want to market to a few hundred or a hundred thousand customers, our web platform can handle it. Dejeuner is also designed from the ground up to be beautifully accessible on laptops, mobile phones, and tablets.
  %hr.featurette-divider/
  #about.featurette
    = image_tag "#{asset_path "numbers.png"}", class: "featurette-image img-circle img-responsive pull-right"
    %h2.featurette-heading
      We are different
      %span.text-muted from anything out there.
    %p.lead Dedicated numbers. No keywords. No apps needed. Unlimited contact lists. Free sms responses to all your customers when they text in. Our marketing solution promotes loyalty and repeat visits by allowing you to set different rewards at different number of check ins. All Canadian and American mobile providers are supported. The best part is that all of this is offered on all on our plans, which are priced transparently and simply. Only pay for access to the platform and the sms's you need. 
  %hr.featurette-divider/
  #services.featurette
    = image_tag "#{asset_path "schedule-message.png"}", class: "featurette-image img-circle img-responsive pull-left"
    %h2.featurette-heading
      We will handle the marketing
      %span.text-muted so you do not have to.
    %p.lead Sms marketing is powerful with over 90% open rates from customers and sms coupons being redeemed ten times more often than traditional ones. But most businesses do not have the expertise required to launch their own sms campaigns. We provide both the technology infrastructure to host these campaigns and with our custom craft-a-sms service we will also generate marketing sms's for you to send out. Combined with our scheduling service, all this means that we will take care of all the sms marketing so you can focus on running the core part of your business.
.landing-shout-out.bottom
  .container
    .row
      .col-sm-12
        .center
          %h1.lighter.white Keep your customers coming back for seconds.
          = link_to "Learn more", about_path, class: "btn btn-info btn-lg"
          = link_to "Start your free trial", pricing_path, class: "btn btn-primary btn-lg"