= render 'layouts/header'
.main-container
  .main-content
    .row
      .col-sm-9.col-sm-offset-1
        .login-container
          #signup-box.signup-box.widget-box.no-border
            .widget-body
              .widget-main
                %h4.header.green.lighter.bigger
                  %i.fa.fa-group.blue
                  New User Registration
                .space-6
                %p Enter your details to begin:
                = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
                  = devise_error_messages!
                  %fieldset
                    %label.block.clearfix
                      = f.email_field :email, :autofocus => "true", :placeholder => 'Email', :type => "email", class: 'form-control input-lg'
                    %label.block.clearfix
                      = f.text_field :name, placeholder: 'Name (First and Last)', class: 'form-control input-lg'
                    %label.block.clearfix
                      = f.password_field :password, placeholder: 'Password', class: 'form-control input-lg'
                    %label.block.clearfix
                      = f.password_field :password_confirmation, placeholder: 'Repeat password', class: 'form-control input-lg'
                      = hidden_field :plan, params[:plan]
                    %label.block
                      %input.ace{:type => "checkbox"}/
                      %span.lbl
                        I accept the
                        %a{:href => "#"} User Agreement
                    .space-24
                    .clearfix
                      %button.width-30.pull-left.btn.btn-sm{:type => "reset"}
                        %i.fa.fa-refresh
                        Reset
                      = button_tag(class: 'width-65 pull-right btn btn-sm btn-success') do 
                        Register
                        %i.fa.fa-arrow-right.fa.fa-on-right
              .toolbar.center
                = link_to "Back to login", new_user_session_path, class: 'back-to-login-link'
  / /widget-body