= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/demo_fixed_nav'
    .col-lg-9.pull-right 
      %ul.nav.nav-tabs.pull-right
        %li.active.message-tab
          %a{:href => "#"} Message
        %li.history-tab
          %a{:href => "#"} History

    .col-lg-9.pull-right.market-history
      %h1 Marketing History
      %table.table.table-hover.table-bordered.profile-table
        %thead 
          %tr 
            %th 
              %h1 Last Marketing Blast Sent:
        %tbody 
          %tr 
            %td New beers on tap tonight! 50% off all beers from 6-10PM!
      = link_to "Send Out Another", '/mass_message', :class => "btn btn-large btn-success pull-right"

    .col-lg-9.pull-right.market-message
      %h1.no-margin-top Marketing blast to all restaurant vistors
      %p Max: 160 characters.

      = text_area_tag "message", nil, {:class => "text-message-area", :placeholder => "Craft your message..."}
      = submit_tag "Send", :class => "btn btn-success btn-lg pull-right"
