= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li
            %i.fa.fa-envelope
            Craft a marketing sms
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Craft a marketing sms
            %small
              %i.fa.fa-angle-double-right
              Get the most out of your marketing
        / /.page-header
        .row
          .col-xs-12
            / PAGE CONTENT BEGINS
            .row
              .col-sm-12
                %p 
                  Focus on running your business and let us handle the marketing. Simply answer a few questions about your needs and we will generate a sms that will keep your customers coming back for seconds. 
                .widget-box
                  .widget-header.widget-header-blue.widget-header-flat
                  .widget-body
                    .widget-main
                      #fuelux-wizard.row-fluid{"data-target" => "#step-container"}
                        %ul.wizard-steps
                          %li.active{"data-target" => "#step1"}
                            %span.step 1
                            %span.title Industry
                          %li{"data-target" => "#step2"}
                            %span.step 2
                            %span.title Customer Segment and Time
                          %li{"data-target" => "#step3"}
                            %span.step 3
                            %span.title Reward                  
                      %hr/
                      #step-container.step-content.row-fluid.position-relative
                        = form_tag '/generate_sms', id:'generate-sms-form' do
                          #step1.step-pane.active
                            %h3.lighter First, we have to know what type of industry you are in.
                            %h3.lighter 
                              I am in business in the
                              = select_tag "industry", options_for_select([["restaurants"], ["cafes"], ["clothing retail"]]), class: 'red'
                              industry
                          #step2.step-pane
                            %h3.lighter Which group of customers would you like to market towards? 
                            %h3.lighter
                              = select_tag 'customer_segment', options_for_select([["All subscribers", "all subscribers"], ['Customers who have not come back for one week', 'one week'], ['Customers who have not come back for two weeks', 'two weeks'], ['Customers who have not come back for one month', 'one month']])
                            %h3.lighter When would you want to do this? 
                            %h3.lighter.red
                              On 
                              = select_tag 'date', options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday'], ['Saturday', 'saturday'], ['Sunday', 'sunday']])
                              between 
                              = text_field_tag 'time_begin', nil, placeholder: 'starting time'
                              and 
                              = text_field_tag 'time_end', nil, placeholder: 'ending time'
                          #step3.step-pane
                            %h3.lighter What would you like to offer as a prize?
                            .radio
                              %label 
                                = radio_button_tag 'reward_type', 'coupon', true, class: 'ace'
                                %span.lbl Coupon
                            %p.coupon-reward-field
                              Showing this coupon, customers should get...
                              = text_area_tag 'coupon_reward', nil, placeholder: '50% off a coffee of their choice', class: 'form-control'
                            .radio
                              %label 
                                = radio_button_tag 'reward_type', 'deal', false, class: 'ace'
                                %span.lbl Daily deal
                            %p.deal-reward-field
                              During the deal time customers should get...
                              = text_area_tag 'deal_reward', nil, placeholder: 'buy one get one free one meals', class: 'form-control'
                        %hr/
                      .row-fluid.wizard-actions
                        %button.btn.btn-prev
                          %i.icon-arrow-left
                          Prev
                        %button.btn.btn-success.btn-next{"data-last" => "Generate sms"}
                          Next
                          %i.icon-arrow-right.icon-on-right
                    / /widget-main
                  / /widget-body              