= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/fixed_nav'
    .col-lg-9.dash-header.pull-right
      .col-lg-3.dash-quick-link.restaurant-quick-link
        %a{:href => "/profile"} 
          = image_tag "crate-blue.jpg"
          %h3 Restaurant
          %p= @restaurant
          %p  178 Reviews over past 6 months
          %p  6 Marketing Blasts sent
      .col-lg-3.dash-quick-link.reviews-quick-link
        %a{:href => "/reviews"} 
          = image_tag "clipboard-2-green.jpg"
          %h3 New Reviews
          %p  
            + 
            = @reviews_today
            for 
            = @date_today
      .col-lg-3.dash-quick-link.marketing-quick-link
        %a{:href => "/market"} 
          = image_tag "bullhorn-orange.jpg"
          %h3 Marketing
          %p  Previous Message: Come tonight from 5-8PM to get 50% off.


    .col-lg-9.pull-right
      %h1 Feedback Received
      %canvas#myChart{:width => "960", :height => "400"} 

    .col-lg-9.pull-right.campaigns-and-reviews
      .col-lg-6.dash-main
        .dash-header-text 
          .dash-header-inner
            = image_tag "notes.png"
            %h3 Current Campaign
        %p Question: What is your favourite bar snack at Tony's Tonic's?
        %p Start Date: August 8th
        %p Duration: 15 days
      .col-lg-6.dash-main
        .dash-header-text 
          .dash-header-inner
            = image_tag "clipboard-2-32.png"
            %h3 Recent Reviews
        %table.table.table-hover
          %tbody 
            - for review in @reviews
              %tr
                %td= review
