= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li.active 
            %i.fa.fa-dashboard
            Dashboard
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Dashboard
            %small
              %i.fa.fa-angle-double-right
              Howzit going
              = @user.name
              , you have...
        / /.page-header
        .row
          .col-xs-12
            / PAGE CONTENT BEGINS
            .row
              .col-sm-12.infobox-container
                .infobox.infobox-green
                  .infobox-fa.fa
                    %i.fa.fa-comments
                  .infobox-data
                    %span.infobox-data-number 
                      = @reviews_count
                    .infobox-content 
                      = (pluralize @reviews_count, "review").split(' ')[1]
                  .badge.badge-success
                    +
                    = @new_reviews_today
                    today
                .infobox.infobox-blue
                  .infobox-fa.fa
                    %i.fa.fa-flag
                  .infobox-data
                    %span.infobox-data-number 
                      = @campaigns_count
                    .infobox-content 
                      = (pluralize @campaigns_count, "campaign").split(' ')[1]
                      launched
                .infobox.infobox-pink
                  .infobox-fa.fa
                    %i.fa.fa-comment-o
                  .infobox-data
                    %span.infobox-data-number
                      = @sms_count
                    .infobox-content sms's left
                .infobox.infobox-red
                  .infobox-fa.fa
                    %i.fa.fa-smile-o
                  .infobox-data
                    %span.infobox-data-number
                      = @contacts_count
                    .infobox-content 
                      / some hacking to pluralize, because we only want the second part of the word
                      = (pluralize @contacts_count, "subscriber").split(' ')[1]
                .space-6
            .row
              .space-6
              .col-sm-12
                .widget-box.transparent
                  .widget-header.widget-header-flat
                    %h4.lighter
                      %i.fa.fa-signal
                      Your subscriber stats
                  .widget-body
                    .widget-main.padding-4
                      #sales-charts
                    .hr.hr32
                    .clearfix
                    .grid3
                      %span.grey
                        %i.icon-facebook-sign.icon-2x.blue
                        New Subscribers this month
                      %h4.bigger.pull-right.red 1,255
                    .grid3
                      %span.grey
                        %i.icon-twitter-sign.icon-2x.purple
                        That have given
                      %h4.bigger.pull-right.green 
                        941
                        new reviews
                    .grid3
                      %span.grey
                        %i.icon-pinterest-sign.icon-2x.red
                        Sms's sent to them
                      %h4.bigger.pull-right.blue 
                        = @user.sms_sent
            .hr.hr32.hr-dotted
            .row
              .col-sm-6
                .widget-box
                  .widget-header
                    %h4.lighter.smaller 
                      %i.fa.fa-question-circle.blue 
                      Current campaign
                  .widget-body
                    .widget-main
                      %p
                        = @current_campaign
                      = link_to 'Start a new campaign', new_campaign_path, class: 'btn btn-block btn-info'

                .hr.hr32.hr-dotted
                .widget-box 
                  .widget-header.transparent 
                    %h4.lighter.smaller 
                      %i.fa.fa-bullhorn.blue 
                      Last marketing blast sent
                  .widget-body
                    .widget-main
                      %p Come to tony's tonics at 5pm for 50% off on your drinks.
                      = link_to 'Send out a new marketing blast!', '/market', class: 'btn btn-block btn-info'
              .col-sm-6
                .widget-box
                  .widget-header
                    %h4.lighter.smaller
                      %i.fa.fa-comment.blue
                      Recent conversations
                  .widget-body
                    .widget-main.no-padding
                      .dialogs
                        .itemdiv.dialogdiv
                          .user
                          .body
                            .time
                              %i.fa.fa-time
                              %span.green 4 sec
                            .name
                              %a{href: "#"} Alexa
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis.
                            .tools
                              %a.btn.btn-minier.btn-info{href: "#"}
                                %i.fa.fa-only.fa.fa-share-alt
                        .itemdiv.dialogdiv
                          .user
                          .body
                            .time
                              %i.fa.fa-time
                              %span.blue 38 sec
                            .name
                              %a{href: "#"} John
                            .text Raw denim you probably haven't heard of them jean shorts Austin.
                            .tools
                              %a.btn.btn-minier.btn-info{href: "#"}
                                %i.fa.fa-only.fa.fa-share-alt
                        .itemdiv.dialogdiv
                          .user
                          .body
                            .time
                              %i.fa.fa-time
                              %span.orange 2 min
                            .name
                              %a{href: "#"} Bob
                              %span.label.label-info.arrowed.arrowed-in-right admin
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis.
                            .tools
                              %a.btn.btn-minier.btn-info{href: "#"}
                                %i.fa.fa-only.fa.fa-share-alt
                        .itemdiv.dialogdiv
                          .user
                          .body
                            .time
                              %i.fa.fa-time
                              %span.grey 3 min
                            .name
                              %a{href: "#"} Jim
                            .text Raw denim you probably haven't heard of them jean shorts Austin.
                            .tools
                              %a.btn.btn-minier.btn-info{href: "#"}
                                %i.fa.fa-only.fa.fa-share-alt
                        .itemdiv.dialogdiv
                          .user
                          .body
                            .time
                              %i.fa.fa-time
                              %span.green 4 min
                            .name
                              %a{href: "#"} Alexa
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            .tools
                              %a.btn.btn-minier.btn-info{href: "#"}
                                %i.fa.fa-only.fa.fa-share-alt
              .vspace-sm              
            .row
              / /span
            / /row
            / PAGE CONTENT ENDS
          / /.col
        / /.row
      / /.page-content
    / /.main-content
  / /.main-container-inner
/ /.main-container