= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li.active 
            %i.fa.fa-dashboard
            Dashboard
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Dashboard
            %small
              %i.fa.fa-angle-double-right
              Howzit going
              = @user.name
              , you have...
        / /.page-header
        .row
          .col-xs-12
            / tell trial users to upgrade 
            / - if @user.is_trial
            /   .alert.alert-block.alert-notice
            /     %button.close{"data-dismiss" => "alert", type: "button"}
            /       %i.fa.fa-times
            /     %p 
            /       You are currently in trial mode. For unlimited subscribers and more sms messages
            /       = link_to "Upgrade here", upgrade_plan_path, class: "btn btn-primary btn-sm"
            = render 'shared/flash'
            / PAGE CONTENT BEGINS
            .row
              .col-sm-12.infobox-container
                .infobox.infobox-green
                  .infobox-fa.fa
                    %i.fa.fa-comments
                  .infobox-data
                    %span.infobox-data-number 
                      = @reviews_count
                    .infobox-content 
                      = (pluralize @reviews_count, "review").split(' ')[1]
                  .badge.badge-success
                    +
                    = @new_reviews_today
                    today
                .infobox.infobox-blue
                  .infobox-fa.fa
                    %i.fa.fa-flag
                  .infobox-data
                    %span.infobox-data-number 
                      = @campaigns_count
                    .infobox-content 
                      = (pluralize @campaigns_count, "campaign").split(' ')[1]
                      launched
                .infobox.infobox-pink
                  .infobox-fa.fa
                    %i.fa.fa-comment-o
                  .infobox-data
                    %span.infobox-data-number
                      = @sms_count
                    .infobox-content sms credits left
                .infobox.infobox-red
                  .infobox-fa.fa
                    %i.fa.fa-smile-o
                  .infobox-data
                    %span.infobox-data-number
                      = @contacts_count
                    .infobox-content 
                      / some hacking to pluralize, because we only want the second part of the word
                      = (pluralize @contacts_count, "subscriber").split(' ')[1]
                .space-6
            .row
              .space-6
              .col-sm-12
                .widget-box
                  .widget-header.widget-header-flat
                    %h4.lighter
                      %i.fa.fa-signal
                      Your subscriber stats for the month
                  .widget-body
                    .widget-main.padding-4
                      #sales-charts{"data-graph" => @graph_subscriber_data}
                    .hr.hr32
                    .clearfix
                    .grid3
                      %span.grey
                        %i.icon-facebook-sign.icon-2x.blue
                        New Subscribers this month
                      %h4.bigger.pull-right.red 
                        = @subscribers_this_month
                    .grid3
                      %span.grey
                        %i.icon-twitter-sign.icon-2x.purple
                        That have given
                      %h4.bigger.pull-right.green 
                        = pluralize(@reviews_this_month, "review")
                    .grid3
                      %span.grey
                        %i.icon-pinterest-sign.icon-2x.red
                        Sms's sent to them
                      %h4.bigger.pull-right.blue 
                        = @user.sms_sent
            .hr.hr32.hr-dotted
            .row 
              .col-sm-6
                .widget-box
                  .widget-header
                    %h4.lighter.smaller 
                      %i.fa.fa-check-circle-o.blue 
                      Your loyalty rewards
                  .widget-body
                    .widget-main
                      - if @loyalty_rewards.any?
                        - for reward in @loyalty_rewards 
                          %p
                            At 
                            %span.red= reward.check_in_count
                            checkins customers get 
                            %span.red= reward.reward
                      = link_to 'loyalty_rewards', class: 'btn btn-block btn-info' do 
                        %i.fa.fa-heart 
                        Go to loyalty rewards                                      
                      = link_to 'checkin', class: 'btn btn-block btn-info' do 
                        %i.fa.fa-check 
                        Go to check ins              
              .col-sm-6
                .widget-box
                  .widget-header
                    %h4.lighter.smaller 
                      %i.fa.fa-calendar.blue 
                      Scheduled messages
                  .widget-body
                    .widget-main
                      %p 
                        You have
                        = @num_scheduled_messages_next_week 
                        scheduled messages next week
                      - if @next_message
                        %p 
                          Your next message is: 
                          %b= @next_message_content
                        %p 
                          On 
                          %b= @next_message.run_at 
                      = link_to 'scheduled_messages', class: 'btn btn-block btn-info' do 
                        %i.fa.fa-calendar 
                        See my scheduled messages                            
            .hr.hr32.hr-dotted            
            .row
              .col-sm-6
                .widget-box
                  .widget-header
                    %h4.lighter.smaller 
                      %i.fa.fa-question-circle.blue 
                      Current campaign
                  .widget-body
                    .widget-main
                      %p
                        = @current_campaign
                      = link_to campaigns_path, class: 'btn btn-block btn-info' do 
                        %i.fa.fa-flag 
                        Start a new campaign
                .hr.hr32.hr-dotted
                .widget-box 
                  .widget-header
                    %h4.lighter.smaller 
                      %i.fa.fa-bullhorn.blue 
                      Last marketing blast sent
                  .widget-body
                    .widget-main
                      %p= @last_marketing_blast
                      = link_to market_path, class: 'btn btn-block btn-info' do 
                        %i.fa.fa-envelope-o 
                        Send out a new marketing blast!
              .col-sm-6
                .widget-box
                  .widget-header
                    %h4.lighter.smaller
                      %i.fa.fa-comment.blue
                      Recent conversations
                  .widget-body
                    .widget-main.no-padding
                      .dialogs
                        - if @reviews.any?
                          - @reviews.each do |review| 
                            .itemdiv.dialogdiv
                              .user
                              .body
                                .time
                                  %i.fa.fa-time
                                  %span.red
                                    = review.publication_date
                                .name.red
                                  = review.from_number
                                .text
                                  = review.body
                        - else 
                          %h4.lighter.blue No feedback yet. Just put your number up somewhere to start!
              .vspace-sm              
            .row
              / /span
            / /row
            / PAGE CONTENT ENDS
          / /.col
        / /.row
      / /.page-content
    / /.main-content
  / /.main-container-inner
/ /.main-container