= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li
            %i.fa.fa-bullhorn
            Marketing
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Marketing
            %small
              %i.fa.fa-angle-double-right
              Get in touch with your customers
        / /.page-header
        .row
          .col-xs-12
            = render 'shared/flash'
            .row
              .col-sm-6
                .widget-container-span
                  .widget-box.transparent
                    .widget-header
                      %h3 Craft a sms
                    .widget-body
                      .widget-main.padding-6
                        %p.lighter.p-larger Not a marketing expert? Let us craft a sms for you. 
                        = link_to '/generate_sms', class: 'btn btn-primary btn-block' do 
                          %i.fa.fa-edit 
                          Generate sms
              .col-sm-6
                .widget-box.transparent
                  .widget-header
                    %h3.blue Do not run low!
                  .widget-body
                    .widget-main.padding-6
                      %p.lighter.p-larger
                        You have 
                        = @user.sms_credit || 0
                        sms credits left
                      = link_to '/sms_credit_refill', class: "btn btn-block btn-primary" do 
                        %i.fa.fa-briefcase
                        Refill credits
            .hr.hr-8.hr-double
            .row
              .col-sm-12
                %h2.blue Send out a marketing blast
                = form_tag do
                  %p 160 character limit per sms. Sms's over 160 characters will be split into two sms's and cost two credits. All marketing sms's automatically have an unsubscribe option attached to them to stay compliant with Canadian / US marketing regulations.  
                  = text_area_tag 'message', @sms, :class => 'form-control market-text-area', placeholder: "Come in to Tony's Tonics on Wednesday between 5 and 8PM for 50% off on all beers on tap!"
                  .hr.hr16.hr-dotted
                  %h3.blue Send out my message...
                  .radio
                    %label 
                      = radio_button_tag 'message_now_or_later', 'now', true, class: 'ace message_now_or_later'
                      %span.lbl Now
                  .radio
                    %label 
                      = radio_button_tag 'message_now_or_later', 'later', (params[:message_now_or_later] === 'later' ? true : false), class: 'ace message_now_or_later'
                      %span.lbl Later    
                  .widget-box.schedule-time-box
                    .widget-header
                      %h3 Schedule time
                    .widget-body
                      .widget-main
                        .row
                          .col-sm-12
                            %p 
                              Your time zone is 
                              = @user.time_zone
                              %span
                                = link_to "change my time zone", profile_path, class: 'btn btn-sm btn-info'
                          .col-sm-3
                            .input-group
                              %span.input-group-addon 
                                %i.fa.fa-calendar 
                              %input#datepicker.form-control{name: 'date', :type => "text", value: (params[:date] || Time.zone.today)}/ 
                          .col-sm-4
                            .input-group.bootstrap-timepicker
                              %span.input-group-addon
                                %i.fa.fa-clock-o                            
                              %input#timepicker1.form-control{type: "text", value: params[:time_begin]}/
                  .clearfix.form-actions
                    .col-sm-offset-3.col-sm-9
                      = link_to main_path, class: 'btn btn-default' do 
                        %i.fa.fa-dashboard 
                        Back to dashboard
                      = button_tag class: 'btn btn-info' do 
                        %i.fa.fa-envelope-o
                        %span.market-blast-message Send my message