= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li.active 
            %i.fa.fa-user
            Profile
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Profile
            %small
              %i.fa.fa-angle-double-right
              Your infomation
        / /.page-header
        .row
          .col-xs-12
            = render 'shared/flash'
            #user-profile-3.user-profile.row
              .col-sm-offset-1.col-sm-10
                %form.form-horizontal
                  .tabbable
                    %ul.nav.nav-tabs.padding-16
                      %li.active
                        %a{"data-toggle" => "tab", :href => "#edit-basic"}
                          %i.green.icon-edit.bigger-125
                          General info
                    .tab-content.profile-edit-tab-content
                      #edit-basic.tab-pane.active
                        %h4.header.blue.bolder.smaller General
                        .row
                          .col-xs-12.col-sm-8
                            .form-group
                              %label.col-sm-4.control-label.no-padding-right{:for => "form-field-username"} Username
                              .col-sm-8
                                %input#form-field-username.col-xs-12.col-sm-10{:placeholder => "Username", :type => "text", :value => @name}
                            .space-4
                            .form-group
                              %label.col-sm-4.control-label.no-padding-right{:for => "form-field-first"} Name
                              .col-sm-8
                                %input#form-field-first.input-small{:placeholder => "First Name", :type => "text", :value => @first_name}
                                %input#form-field-last.input-small{:placeholder => "Last Name", :type => "text", :value => @last_name}
                            .space-4
                            .form-group
                              %label.col-sm-4.control-label.no-padding-right{:for => "form-field-first"} Plan
                              .col-sm-8
                                %input#form-field-username.col-xs-12.col-sm-10{:type => "text", :value => @plan}
                            .form-group  
                              %label.col-sm-4.control-label.no-padding-right{:for => "form-field-first"}
                              .col-sm-8
                                = link_to "Upgrade plan", "#", class: "btn btn-primary btn-sm"
                            .space-4
                            .form-group
                              %label.col-sm-4.control-label.no-padding-right{:for => "form-field-first"} Time Zone
                              .col-sm-8
                                %input#form-field-username.col-xs-12.col-sm-10{:type => "text", :value => @user.time_zone}
                        %hr
                          %h4.header.blue.bolder.smaller Business info
                          .form-group
                            %label.col-sm-3.control-label.no-padding-right{:for => "form-field-email"} Business name
                            .col-sm-9
                              %span.input-icon.input-icon-right
                                %input#form-field-email{:type => "text", :value => @business}
                                  %i.icon-envelope
                        %hr
                          %h4.header.blue.bolder.smaller Contact
                          .form-group
                            %label.col-sm-3.control-label.no-padding-right{:for => "form-field-email"} Email
                            .col-sm-9
                              %span.input-icon.input-icon-right
                                %input#form-field-email{:type => "email", :value => @user.email}
                                  %i.icon-envelope
                          .space-4
                          .form-group
                            %label.col-sm-3.control-label.no-padding-right{:for => "form-field-website"} Website
                            .col-sm-9
                              %span.input-icon.input-icon-right
                                %input#form-field-website{:type => "url", :value => "http://www.mywebsite.com/"}
                                  %i.icon-globe
                          .space-4
                          .form-group
                            %label.col-sm-3.control-label.no-padding-right{:for => "form-field-phone"} Phone
                            .col-sm-9
                              %span.input-icon.input-icon-right
                                %input#form-field-phone.input-medium.input-mask-phone{:type => "text", placeholder: '1231231234'}
                                  %i.icon-phone.icon-flip-horizontal
                  .clearfix.form-actions
                    .col-md-offset-3.col-md-9
                      = link_to edit_user_registration_path, class: 'btn btn-info' do 
                        %i.fa.fa-edit
                        Edit my info
