= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/fixed_nav'
    .col-lg-9.pull-right 
      %ul.nav.nav-tabs.pull-right
        %li.active.message-tab
          %a{:href => "#"} Message
        %li.history-tab
          %a{:href => "#"} History

    .col-lg-9.pull-right.market-history
      %h1 Marketing History
      %table.table.table-hover.table-bordered.profile-table
        %thead 
          %tr 
            %th 
              %h1 Last Marketing Blast Sent:
        %tbody 
          %tr 
            %td New beers on tap tonight! 50% off all beers from 6-10PM!

    .col-lg-9.pull-right.market-message
      %h1.no-margin-top Marketing blast
      .col-lg-12.dash-main.full-width
        .dash-header-text 
          .dash-header-inner
            = image_tag("document.png")
            %h3 Examples
        %p Coupon: Show this text to your server for 50% off on your beer.
        %p Event: Come in today for a 1/4kg chicken wing platter with any meal!
        %p Weekly Deal: Buy 1 get 1 free for the next week, August 14 - 21!
        %p Competition: Respond with BEER to have a chance to win free beer for the week. 
      %p Max: 160 characters.

      = form_tag() do 
        = text_area_tag "message", nil, {:class => "text-message-area", :placeholder => "Craft your message..."}
        = submit_tag "Send", :class => "btn btn-success btn-lg pull-right"
