= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/fixed_nav'

    .col-lg-9 
      %h1.no-margin-top Send out a marketing blast to everyone on your numbers list
      %p Max: 160 characters.

      = form_tag() do 
        = text_area_tag "message", nil, {:class => "text-message-area", :placeholder => "Craft your message..."}
        = submit_tag "Send", :class => "btn btn-success btn-lg pull-right"
