= render 'layouts/header'
.container.main-body
  .row
    = render 'layouts/fixed_nav'
    .col-lg-9.pull-right 
      %ul.nav.nav-tabs.pull-right
        %li.active.campaign-tab
          %a{:href => "#"} Campaigns
        %li.feedback-tab
          %a{:href => "#"} Feedback
        %li.campaigns-history-tab
          %a{:href => "#"} Past Campaigns 
          
    .col-lg-9.pull-right.campaigns
      %table.table.table-hover.table-bordered.profile-table
        %thead 
          %tr 
            %th 
              %h1 Campaigns
        %tbody 
          %tr 
            %td Number: 
            %td 12674158802
          %tr 
            %td Keyword: 
            %td
              = @key_word
              - if @key_word = ""
                %a{:href => "key_word", :class => "btn btn-lg btn-primary"} Add key word
              - else 
                %a{:href => "key_word/edit", :class => "btn btn-lg btn-primary"} Change  
          %tr 
            %td Type: 
            %td= @current_campaign.campaign_type
          %tr 
            %td Current: 
            %td= @current_campaign.description
          %tr 
            %td Prize: 
            %td 5% off your tab at the end of the night.  
      = link_to "Start New Campaign", new_campaign_path, :class => "btn btn-large btn-warning pull-right"

    .col-lg-9.pull-right.reviews
      %table.table.table-hover 
        %thead 
          %tr 
            %th Review
            %th Date Received
            %th Number
        %tbody 
        - @reviews.each do |review| 
          %tr 
            %td= review.body
            %td= review.date_sent.slice(0..10)
            %td= review.from

    .col-lg-9.pull-right.campaigns-history
      %table.table.table-hover.table-bordered.profile-table
        %thead 
          %tr 
            %th 
              %h1 Past Campaigns
        %tbody 
          %tr 
            %td Number: 
            %td 12674158802
          %tr 
            %td Type: 
            %td Feedback
          %tr 
            %td Date: 
            %td August 14th, 2013

