= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li
            %i.fa.fa-flag 
            Campaigns
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Campaigns
            %small
              %i.fa.fa-angle-double-right
              Feedback and marketing with customers
        / /.page-header
        .row
          .col-xs-12
            .col-sm-6
              .widget-box.transparent
                .widget-header
                  %h4.lighter.smaller 
                    %i.fa.fa-flag
                    My campaigns
                .widget-body
                  .widget-main
                    %form.form-horizontal{:role => "form"}
                      / TODO replace with actual info
                      .form-group
                        %label.col-sm-3.control-label.no-padding-right{:for => "form-field-1"} Business Name
                        .col-sm-9
                          %input.col-sm-12{:value => "Tony's Tonics", :type => "text"}
                      .hr.hr8.hr-dotted
                      .form-group
                        %label.col-sm-3.control-label.no-padding-right{:for => "form-field-2"} My numbers
                        .col-sm-9
                          %input.col-sm-12{:value => "1231231234", :type => "text"}
                      .form-group
                        = link_to '#', class: 'btn btn-info btn-block' do 
                          %i.fa.fa-phone 
                          Get more numbers
                      .hr.hr8.hr-dotted
            .col-sm-6
              .widget-box.transparent
                .widget-header
                  %h4.lighter.smaller 
                    Current campaign
                    %span.pull-right
                      .small
                        Started on
                        / TODO add date
                        Jan. 15, 2013
                .widget-body
                  .widget-main
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, saepe, quasi, voluptates ea maxime vitae unde magnam pariatur repellat harum temporibus sit ducimus est explicabo neque quas voluptate incidunt perferendis.
                    = link_to "Start a new campaign!", new_campaign_path, class: 'btn btn-info btn-block'   
                .widget-box.transparent
                  .widget-header
                    %h4.lighter.smaller 
                      Past campaigns
                  .widget-body
                    .widget-main
                      %p
                        1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, saepe, quasi, voluptates ea maxime vitae unde magnam pariatur repellat harum temporibus sit ducimus est explicabo neque quas voluptate incidunt perferendis.
                      %p 
                        2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, velit perspiciatis voluptates corporis reiciendis maxime qui id alias numquam voluptatum! Nam, optio itaque totam dolore odio dicta officia ad rerum?
                      %p 
                        3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, praesentium, maxime animi et natus possimus autem voluptatem magni reiciendis modi dolores aliquid quo minus! Hic, sapiente at voluptatem dolores vero.
                      = link_to "See all past campaigns", '#', class: 'btn btn-info btn-block'                             