= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li.active
            %i.fa.fa-flag 
            = link_to "Campaigns", campaigns_path
          %li 
            Set reward
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Set reward
        / /.page-header
        .row
          .col-xs-12
            .row   
              .col-sm-6
                %blockquote 
                  %p 
                    Current reward: 
                    - if @current_reward 
                      = @current_reward
                    - else 
                      None
                .widget-box.transparent
                  .widget-header
                    %h3.lighter.blue Create a new reward
                  .widget-body
                    .widget-main
                      = form_for @sms_response, url: reward_path, method: :post do |f|
                        .form-group
                          = f.label :new_reward
                          = f.text_area :response, class: 'form-control', placeholder: 'Show this message to your server for 50% off your beer tab!', rows: 6
                        = f.submit 'Create new reward', class: 'btn btn-info btn-block'
              .col-sm-6 
                %blockquote.pull-right.green
                  %p 
                    Rewards are optional sms's that your customer gets back for giving feedback. They can range anywhere from a simple thanks to a discount on the meal they are having. We suggest putting a small reward to incentivize customers to text in.