= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li.active
            %a{:href => "/campaigns"} Campaigns
          %li 
            %i.fa.fa-comment-o
            Reviews
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Reviews
            %small
              %i.fa.fa-double-angle-right
              What people are saying about your business
        / /.page-header
        .row
          .col-xs-12
            .col-sm-6
              .widget-box
                .widget-header
                  %h4.lighter.smaller 
                    %i.fa.fa-question-circle.blue 
                    Current campaign
                .widget-body
                  .widget-main
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, saepe, quasi, voluptates ea maxime vitae unde magnam pariatur repellat harum temporibus sit ducimus est explicabo neque quas voluptate incidunt perferendis.
            .col-sm-6
              .widget-box
                .widget-header
                  %h4.lighter.smaller
                    %i.fa.fa-comment.blue
                    Conversations
                .widget-body
                  .widget-main.no-padding
                    .dialogs
                      - @reviews.each do |review| 
                        .itemdiv.dialogdiv
                          .user
                          .body
                            .time
                              %i.fa.fa-time
                              %span.red
                                = review.date_sent.slice(0..10)
                            .name.red
                              = review.from
                            .text
                              = review.body
                    / /widget-main
                  / /widget-body
                / /widget-box
              / /span