= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li.active
            %i.fa.fa-flag
            %a{:href => "/campaigns"} Campaigns
          %li 
            Reviews
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Reviews
            %small
              %i.fa.fa-angle-double-right
              What people are saying about your business
        / /.page-header
        .row
          .col-xs-12
            .col-sm-6
              .widget-box
                .widget-header
                  %h4.lighter.smaller 
                    Current campaign
                .widget-body
                  .widget-main
                    %p
                      - if @latest_campaign
                        = @latest_campaign.description
                      - else 
                        No campaigns started yet. 
                        .form-group
                          = link_to new_campaign_path, class: "btn btn-primary btn-block" do 
                            %i.fa.fa-flag 
                            Start one now
            .col-sm-6
              .widget-box
                .widget-header
                  %h4.lighter.smaller
                    %i.fa.fa-comment.blue
                    Conversations
                .widget-body
                  .widget-main.no-padding
                    .dialogs
                      - if @reviews.any?
                        - @reviews.each do |review| 
                          .itemdiv.dialogdiv
                            .user
                            .body
                              .time
                                %i.fa.fa-time
                                %span.red
                                  = review.publication_date
                              .name.red
                                = review.from_number
                              .text
                                = review.body
                      - else 
                        %h4.lighter.blue No feedback yet. Just put your number up somewhere to start!
                    / /widget-main
                  / /widget-body
                / /widget-box
              / /span