= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li
            %i.fa.fa-user
            Subscribers
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Subscribers
            %small
              %i.fa.fa-angle-double-right
              People listening to your business
        / /.page-header
        .row
          .col-xs-12
            = render 'shared/flash'          
            .row
              .col-sm-12
                - if @user.plan === 'trial'
                  %p 
                    You are currently on the trial plan, so your number of subscribers is limited to 250. Upgrade to have more contacts 
                    %a{:href => "#"} here. 
                .table-header Your subscribers
                .table-responsive
                  #sample-table-2_wrapper.dataTables_wrapper{:role => "grid"}
                    .row
                      .col-sm-6
                        = will_paginate @sms_contacts
                    %table#sample-table-2.table.table-striped.table-bordered.table-hover.dataTable{"aria-describedby" => "sample-table-2_info"}
                      %thead
                        %tr{:role => "row"}
                          %th.sorting{"aria-controls" => "sample-table-2", "aria-label" => "Domain: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 160px;", :tabindex => "0"} Number
                          %th.sorting{"aria-controls" => "sample-table-2", "aria-label" => "Price: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 104px;", :tabindex => "0"} Date subscribed
                          %th.hidden-480.sorting{"aria-controls" => "sample-table-2", "aria-label" => "Clicks: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 113px;", :tabindex => "0"} Delete?
                      %tbody{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
                        - if @sms_contacts.any?
                          - @sms_contacts.each do |sms_contact|
                            %tr
                              %td
                                %p.p-larger.blue.small 
                                  = sms_contact.number
                              %td 
                                %p.p-larger.blue.small 
                                  = sms_contact.created_at.strftime('%a %d %b %Y')
                              %td
                                = link_to "Delete", sms_contact_path(sms_contact), method: :delete, class: 'btn btn-danger' 
                        - else 
                          %tr 
                            %td 
                              No subscribers yet. Just put your number up somewhere and start collecting contacts!
                            %td 
                            %td 
                    .row
                      .col-sm-6
                        #sample-table-2_info.dataTables_info 
                          Showing 1 to 10 of 
                          = @sms_contacts.count
                          entries
                      .col-sm-6
                        .dataTables_paginate.paging_bootstrap
                          = will_paginate @sms_contacts