#navbar.navbar.navbar-default
  #navbar-container.navbar-container
    .navbar-header.pull-left
      %a.navbar-brand{href: "/", "data-no-turbolink" => 'true'}
        %small
          %i.fa.fa-coffee
          Dejeuner
      / /.brand
    / /.navbar-header
    .navbar-header.pull-right{role: "navigation"}
      %ul.nav.ace-nav
        - if params[:controller] == 'static_pages'
          %li.red
            = link_to "About", '/about'
          %li.red
            = link_to "Pricing", '/pricing'
        - if current_user
          %li.red
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %span.user-info
                %small Welcome,
                = @user.name
              %i.fa.fa-caret-down
            %ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
              %li 
                %a{:href => "/", "data-no-turbolink" => 'true'} 
                  %i.fa.fa-home
                  Home page
              %li 
                %a{:href => "/main"}
                  %i.fa.fa-dashboard 
                  Dashboard 
              %li
                %a{href: "/profile"}
                  %i.fa.fa-user
                  Profile
              %li.divider
              %li
                = link_to destroy_user_session_path, method: 'delete' do 
                  %i.fa.fa-off
                  Logout
        - else 
          %li.red
            = link_to new_user_session_path do 
              Sign In
        %li.red#contact_header_link
          %a{:href => "/contact"}
            Contact us 
